.clear:before,
.clear:after{
    content: "";
    display: table;
}

*{
  font-family: "Open sans", sans-serif;
  color: #534c38;
}

.clear:after{
  clear: both;
}

.italic{
  font-style: italic;
}

.scroll-top{
  width:50px;
  height: 50px;
  position: fixed;
  bottom:60px;
  right:50px;
}

.slider-row-left{
  position:absolute;
  top: 270px;
  left:110px;
  opacity: 0.2;
  padding: 0;
  background: none;
  border: none;
}

.slider-row-right{
  position:absolute;
  top: 270px;
  right: 100px;
  opacity: 0.2;
  padding: 0;
  background: none;
  border: none;
}

.slider-row-left,.slider-row-right:hover{
    cursor: pointer;
  }

.slidertext {
  position:absolute;
  top:200px;
  left: 180px;
}

.slider-header, .slider-introtext{
  background-color: black;
  background-color: rgba(71,58,45,0.8);
}

.slider-introtext p{
  color: white;
  padding: 11px 13px;
  font-size: 24px;
  font-weight: 200;
}

.slider-header{
  margin-bottom: 10px;
  width: 264px;
}

.slider-header h1 {
  color: white;
  font-size: 44px;
  font-weight: 200;
  padding: 10px 18px;
}

.slider-link{
  border: 4px solid #B1926E;
  border-radius: 50%;
  background-color: #B1926E;
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
padding: 0px;
}

.slider{
  position: relative;
}

.slider img{
  width:100%;
}

.slider-link-container-clear{
  position: absolute;
  bottom: 0;
  left: 600px;
  margin-bottom: 20px;

}

button.slider-link:hover{
  background-color: #D9CBBF;
  cursor: pointer;
  }

  <span>Label1</span><span>Label1</span>
}
.inner{
  background-color: yellow;
  border: 20px solid black;
  width:200px;
  height: 200px;
  float:left;
  padding: 30px;
}

.left{
   float: left;
 }

 .right{
   float: right;
 }

.main-container{
  width:1280px;
  margin: 0 auto;
}

.header{
  height: 100px;
  background-color: #473A2D;
}

.header .logo{
  height: 100%;
  width: 200px;
  margin-left: 60px;
  float: left;
}

.header .logo .logo-image{
  margin-top: 8px;
}

.header .navigation-container{
  /*width: 600px;*/
  float: right;
  margin-right: 30px;
  padding: 20px 0;
}

.header .navigation-container .menu{
  height: 56px;
  width: 457px;
  float: left;
  border-right: 1px solid white;
}

.header .navigation-container .menu a{
  float: left;
  margin-top: 8px;
  list-style-type: none;
}

.header .navigation-container .menu a{
  display: block;
  padding:10px;
  color: #ffffff;
  text-decoration: none;
}

.header .navigation-container .menu  a:hover{
  background-color: #5b4d3b;
}

.header .navigation-container .languages{
  float: left;
  padding-top: 9px;
  margin-left: 17px;
  list-style-type: none;
  font-size: 14px;
}

a.language-link{
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  color: #ffffff;
  font-size: 15
}

a.language-link:hover{
  background-color: #5b4d3b;
}

.slider{
  height: 540px;
}

.brown-special-backround{
  background-image: url(img/braun-bg.jpg);
}

.sub-container-header-block{
  border-bottom: 1px dashed #C7A457;
  height: 60px;
  margin-bottom: 40px;
  width: 1150;
  margin: 0 auto 20px auto;
}

.sub-container-header-block h1{
  text-align: center;
  text-transform: uppercase;
  color: #95782D;
  font-weight: lighter;
}

.sub-container-header-block-lighter h1{
  color: #CBAA63;
  text-align: center;
  text-transform: uppercase;
  font-weight: lighter;
}

.service-block{
  width: 372px;
  float: left;
  margin-left: 61px;
  margin-top: 25px;
}

.service-block > div{
  float:left;
  height: inherit;
}

.service-block-icon-block{
  width: 70px;
}

.service-block-content-block p:after {
    content: ' ';
    height: 1px;
    width: 56px;
    background: #C7C6BF;
    position: relative;
    bottom: -100%;
    display: block;
    margin: 10 auto;
    bottom: -6px;
    left: -118px;
}
.service-block-content-block{
  width:292px;
  margin-left:10px;
}

.service-block-content-block h2{
  text-transform: uppercase;
  font-size:18px;
  margin-top:0px;
}

.center-service-block{
  width: 372px;
  float: left;
  margin-top: 25px;
  margin-left: 42px;
}

.center-service-block > div{
  float:left;
  height: inherit;
}

.white-special-background {
  background-repeat: repeat;
  background: url("img/fon-pakalpojumi.png");
  padding-bottom: 37px
}

.float-left{
  float:left;
}
.float-right{
  float:right;
}
.prices .euro {
  text-align: center;
}
.prices table th{
  border-bottom: 1px solid #DFD9CF;
  text-align: left;
}

.prices-table-tr-last-border{
  border-bottom: 1px solid #DFD9CF;
}

.prices table tr.grey-bg{
  background-color: #F2EBE1;
}

.prices-block1{
margin: 0px 0px 40px 65px;
}

.prices-block2{
  margin: 0px 0px 40px 53px;
}
.prices-header-text{
  text-align: justify;
}
.prices table{
  border-collapse: collapse;
  /*table-layout: fixed;*/
  width: 550px;
}

.prices table .filled-bg{
  background-color: #F2EBE1;
}

.prices table .border-table td{
  border-bottom: 1px solid #DFD9CF;
}

.prices-table td, th{
  padding:15px;
  font-size: 14px;
}

.prices-table-coment-size{
  font-size: 13px;
}

.prices-table .last-price-cell{
  vertical-align: top;
}

.prices .float-left{
  width:550px;
}

.prices-table-last-row-coment{
  font-size: 14px;
  padding-left: 15px;
  font-style: italic;
}

.prices-table-td-font-bold{
  font-weight: bold
}

.table-row-title, .table-row-first{
  text-align: left;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

table .smaller-text{
  font-size: 10px;
}

.prices table td.price{
  font-size: 14px;
}



.about-us-text-block p{
    width: 1150px;
    color: #f2ebe1;
    text-align: left;
    margin-left: 66px;
    margin-bottom: 35px;
    line-height: 30px;
}

.about-us {
  background-repeat: repeat;
  background-image: url("img/braun-bg.jpg");
}

.certificates-container{
  background-color: #624E36;
  height: 80px;
  margin-top: 20px;
}

.certificates-container p{
  font-size: 13px;
color: #F2EBE1;
text-align:left;
}

.about-us-subcontainer {
  margin: 0 54px;
}

.float-left {
  float: left;
}

.about-us-person1 {
  margin-right: 40px;
  margin-left: 68px;
}

.about-us-person2 {
  margin-left: 40px;
}

.about-us .personal-info-container {
  width: 535px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 40px;
}

 .about-us-text p{
color: #F2EBE1;
text-align: left;
line-height: 30px;
 }

.about-us .personal-info-container h1 {
  font-size: 37px;
  font-weight: lighter;
  color: #C7A457;
  padding-bottom: 10px;
}

.personal-info-name {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 10px;
  width: 337px;
  margin-left: 91px;
  margin-top: 5px;
}

.abaut-us, .tel, .email{
  color: #C7A457;
}

.one-certificate{
  height: 60px;
  margin:14px 27px;
}

.one-certificate  p{
  font-size: 12px;
  color: #F2EBE1;
    margin-left: 55px;
}

.one-certificate-second {
  width:210px;
  height: 60px;
  margin:14px 175px;
  width:200px;
}

.one-certificate-second p{
  font-size: 12px;
  color: #F2EBE1;
  margin-left: 55px;
}

.about-us-sertif-cont-ikona{
  margin: 12px;
}

.clients{
width: auto;
}

.logo a{
  display: block;
  width: 100%;
  height: 100%;
}

.logo1 {
  width: 217px;
  height: 56px;
  background-image: url(_temp/Latvijas-rep-logo-black.png);
  background-repeat: no-repeat;
  margin: 30px;
}

.logo1:hover {
  background-image: url(_temp/Latvijas-rep-logo-color.png);
}

.logo2 {
  width: 152px;
  height: 70px;
  background-image: url(_temp/lat-val-mezhi-black.png);
  background-repeat: no-repeat;
  margin: 30px;
}

.logo2:hover {
  background-image: url(_temp/lat-val-mezhi-color.png);
}

.logo3 {
  width: 158px;
  height: 50px;
  background-image: url(_temp/gibson-black.png);
  background-repeat: no-repeat;
  margin: 30px;
}

.logo3:hover {
  background-image: url(_temp/gibson-color.png);
}

.logo4 {
  width: 102px;
  height: 56px;
  background-image: url(_temp/busines-black.png);
  background-repeat: no-repeat;
  margin: 30px;
}

.logo4:hover {
  background-image: url(_temp/busines-color.png);
}

.logo5 {
  width: 165px;
  height: 29px;
  background-image: url(_temp/baltic-black.png);
  background-repeat: no-repeat;
  margin: 30px;
}

.logo5:hover {
  background-image: url(_temp/baltic-color.png);
}

.logo6 {
  width: 310px;
  height: 40px;
  background-image: url(_temp/statoil-black.png);
  background-repeat: no-repeat;
  margin: 30px;
}

.logo6:hover {
  background-image: url(_temp/statoil-color.png);
}

.logo7 {
  width: 157px;
  height: 45px;
  background-image: url(_temp/casamona-black.png);
  background-repeat: no-repeat;
  margin: 30px;
}

.logo7:hover {
  background-image: url(_temp/casamona-color.png);
}

.logo8 {
  width: 174px;
  height: 45px;
  background-image: url(_temp/blue-black.png);
  background-repeat: no-repeat;
  margin: 30px;
}

.logo8:hover {
  background-image: url(_temp/blue-color.png);
}

.logo9 {
  width: 72px;
  height: 72px;
  background-image: url(_temp/latv-valts-celi-black.png);
  background-repeat: no-repeat;
  margin: 30px;
}

.logo9:hover {
  background-image: url(_temp/latv-valts-celi-color.png);
}

.logo10 {
  width: 152px;
  height: 36px;
  background-image: url(_temp/latvenergo-black.png);
  background-repeat: no-repeat;
  margin: 30px;
}

.logo10:hover {
  background-image: url(_temp/latvenergo-color.png);
}

.logo11 {
  width: 69px;
  height: 86px;
  background-image: url(_temp/fiterline-black.png);
  background-repeat: no-repeat;
  margin: 30px;
}

.logo11:hover {
  background-image: url(_temp/fiterline-color.png);
}

.logo12 {
  width: 125px;
  height: 41px;
  background-image: url(_temp/lmt-black.png);
  background-repeat: no-repeat;
  margin: 30px;
}

.logo12:hover {
  background-image: url(_temp/lmt-color.png);
}

.logo13 {
  width: 82px;
  height: 75px;
  background-image: url(_temp/ostas-black.png);
  background-repeat: no-repeat;
  margin: 30px;
}

.logo13:hover {
  background-image: url(_temp/ostas-color.png);
}

.logo14 {
  width: 173px;
  height: 44px;
  background-image: url(_temp/ventbunkers-black.png);
  background-repeat: no-repeat;
  margin: 30px;
}

.logo14:hover {
  background-image: url(_temp/ventbunkers-color.png);
}

.logo15 {
  width: 109px;
  height: 47px;
  background-image: url(_temp/latio-black.png);
  background-repeat: no-repeat;
  margin: 30px;
}

.logo15:hover {
  background-image: url(_temp/latio-color.png);
}

.logo16{
  width: 182px;
  height: 57px;
  background-image: url(_temp/ventspils-black.png);
  background-repeat: no-repeat;
  margin: 30px;
}

.logo16:hover {
  background-image: url(_temp/ventspils-color.png);
}

.logo-conteiner {
   width: 1150px;
   margin: 30px auto;
}

.logo-conteiner .logo{
  height: 80px;
  background-position: center;
  background-size: contain;
  margin-top: 30px;
  margin-bottom: 30px;
}

.first-logos-row .logo{
  margin-right: 48px;
  margin-left: 48px;
}

.second-logos-row .logo{
  margin-right: 37px;
  margin-left: 37px;
}

.third-logos-row .logo{
  margin-right: 40px;
  margin-left: 42px;
}

.logo-conteiner .logo-left{
  margin-left: 0;
}

.logo-conteiner .logo-right{
  margin-left: 0;
  margin-right: 0;
}

.contacts-map-container{
  margin-left: 70px;
}

.contacts-map {
  height: 300px;
  width: 384px;
  margin: 25px auto;
  border: 7px solid #97804E;
}
.google-map{
  width: 100%;
  height: 100%;
}

 .contacts-company-name{
  text-transform: uppercase;
}

.contacts-info-container p{
  color:  #C7A457;
}

.contacts-info-container  .contacts-phones{
color: #F9E09E;
}

.contacts-info-container{
  text-align: center;
  padding: 24px;
  margin-top: 10px;
}

.contacts{
  padding-bottom: 50px;
}

.contact-form-container{
margin-top: 5px;
}

::-webkit-input-placeholder {
  color: black;
}

.form-title {
color: #F9E09E;
text-transform: uppercase;
}

.contact-form-container form input [type="text"],form .text-field {
  background-color: #7F6C42;
  border: none;
  color: #F9E09E;
  padding: 10px;
  font-size: 13px;
}

.firstname-fieled , .email-fieled{
  width: 170px;
  height: 30px;
}

.firstname-field{
  margin-right: 20px;
  background-color:#7F6C42;
  border: none;
  color: #F9E09E;
  padding: 10px;
}

.email-field{
  background-color:#7F6C42;
  border: none;
  padding: 10px;
  color: #F9E09E;
}

.contact-form-button{
  background-color:#B1965C;
  border: none;
  padding: 9px 27px;
  margin-top: 22px;
  color: #FFF;
}

.contact-form-button:hover {
  cursor: pointer;
  background-color:#D6B969;
}

.text-field{
  margin-top: 23px;
  width: 100%;
  height: 155px;
  resize: none;
  box-sizing: border-box;
}



.logo-container{
  margin: 20px;
  width: 200px;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
}
